<header class="site-header">

  <div class="wrapper-menu">
    <div class="intro">
        <a class="site-title" href="{{ site.baseurl }}/"><span>{{ site.title }}</span>
        <img src="/assets/dvsty_logo_fff.svg" alt="">
        </a>
    </div>


    <nav class="site-nav">
      </a>

      <div class="trigger">
        {% for my_page in site.pages | sort:"weight" %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
