<header class="site-header-focus" style="background-image: url({{ page.stage-image }});">

  <div class="wrapper-stage" >
       <a class="site-title" href="{{ site.baseurl }}/">
       <img src="/assets/v-logo.svg" alt="back" class="logo-back">
       </a>
    
    <div id="stage" >
    	<h1 class="post-title">{{ page.title }}</h1>
    </div>
  
  </div>
  <div class="bubblewrapper">
      
      <div class="bubblestretch">
          
      </div>
      <div class="bubblelayer">
          
          
          
      </div>
      <div class="bubblestretch">
          
      </div>
  </div>
</header>